fastapi
uvicorn[standard]
langchain-openai
langgraph
pydantic
python-dotenv
pyyaml
httpx
pymongo
cryptography
langgraph-checkpoint-postgres
psycopg[binary,pool]
python-socketio[asyncio_server]
pusher
bcrypt
pyjwt[crypto]
pydantic[email]
